---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            {% if site.description %}
            <span class="subheading">{{ site.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}
        <div class="text-center mb-4">
  
</div>


        <!-- Home Post List -->
        {% assign first_post = site.posts.first %}

<!-- Latest Post -->
<article class="post-preview">
  <a href="{{ first_post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ first_post.title }}</h2>
    {% if first_post.subtitle %}
      <h3 class="post-subtitle">{{ first_post.subtitle }}</h3>
    {% else %}
      <h3 class="post-subtitle">
        {{ first_post.excerpt | strip_html | truncatewords: 15 }}
      </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Posted by {{ site.author }}
    on {{ first_post.date | date: '%B %d, %Y' }}
  </p>
</article>

<hr>

<!-- Ask a Question Block -->
<div class="text-center my-5">

  <h3 class="mb-3">Get your question answered on TikTok and Instagram</h3>

     <script async src="https://js.stripe.com/v3/buy-button.js"></script>

  <stripe-buy-button
    buy-button-id="buy_btn_1TD1eRGXj6wLl6FgZ9mzKekh"
    publishable-key="pk_live_51OUpFXGXj6wLl6Fg1tvgmOS20MQ7PAQRyNO3IKJCoMLEWDH5MDPBdknn76xYkS90V5HhxDB23h43Vj1CMRbPv8kA001kBGqJlS">
  </stripe-buy-button>

  <p class="text-muted mt-3">
    After payment, you will be redirected to submit your question.
  </p>

</div>

<hr>
<!-- Remaining Posts -->
{% for post in site.posts offset:1 limit:4 %}

<article class="post-preview">
  <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
    <h2 class="post-title">{{ post.title }}</h2>
    {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
    {% else %}
      <h3 class="post-subtitle">
        {{ post.excerpt | strip_html | truncatewords: 15 }}
      </h3>
    {% endif %}
  </a>
  <p class="post-meta">
    Posted by {{ site.author }}
    on {{ post.date | date: '%B %d, %Y' }}
  </p>
</article>

<hr>

{% endfor %}


        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{"/posts" | relative_url }}">View All Posts &rarr;</a>
        </div>

      </div>
    </div>
  </div>
